ul {
  list-style-type: none;
  max-width: 600px;
  margin: 0 auto;
}
li {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: calc(50% - 10px);
  height: 100px;
  text-align: center;
  border: 2px solid #f39c12;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background: #ecf0f1;
  }
  &.game-card__item--done {
    background: #1abc9c;
    &:hover {
      background: #16a085;
    }
  }
}
p {
  text-align: center;
}

.game-btn {
  &__wrap {
    width: 100%;
    text-align: center;
  }
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 150px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  &--start {
    background: #2ecc71;
  }
  &--end {
    background: #e74c3c;
  }
}

.game-time {
  padding: 0;
  text-align: center;
}

.copyright {
  padding: 0;
  text-align: right;
  font-size: 14px;
}
