<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<main class="game-field">
  <header class="game-field__header"></header>
  <section class="game-field__body">
    <div class="game-field__container">
      <ul class="game-card__list">
        <li class="game-card__item" [ngClass]="{'game-card__item--done': item.isDone}" *ngFor="let item of cardArray; index as i" (click)="showCard(item,(i + 1))">
          <span *ngIf="item.isEnabled">{{item.value}}</span>
        </li>
      </ul>
    </div>
    </section>
  <footer class="game-field__footer"></footer>
</main>